
@{
    ViewData["Title"] = "About";
}

<div class="custom-bg-color mt-4 p-4 custom-margin">
    <h1 class="text-light">About</h1>
    <p class="text-light">
        The DTC Dental web application is a comprehensive solution that streamlines the internal operations
        of the dental clinic, located in Englewood, Colorado. This user-friendly platform enables DTC Dental's
        employees to efficiently manage essential aspects of their practice. It empowers the clinic to maintain
        accurate patient records, offering features for adding, editing, and deleting patient data. Additionally,
        the application allows for the tracking of dentist information and appointment types, simplifying the
        process of scheduling appointments. With an intuitive interface, this web application enhances the
        clinic's productivity and compliance with American Dental Association regulations while leveraging
        various web development technologies and principles, ultimately providing a valuable tool for DTC
        Dental's daily operations.
    </p>
</div>
